@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500&family=Karla:wght@300;400;500&display=swap");

@layer base {
  body {
    @apply bg-black scrollbar-hide;
  }
}

@layer components {
  .sidebarIcon {
    @apply h-6 text-[#808080] cursor-pointer;
  }

  .tag {
    @apply py-1.5 px-3 text-[#cecece] bg-[#282828] rounded-xl text-xs font-bold border-2 border-[#484848];
  }

  .genre {
    @apply bg-[#101010] text-[#CECECE] border border-[#484848] rounded-xl py-2.5 px-3.5 text-[11px] font-bold cursor-default;
  }

  .icon {
    @apply hover:scale-125 transition-all duration-150 ease-out;
  }
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
